* {
  /* margin: 0;
  padding: 0; */
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  background-color: var(--primary-bg);
  color: #fff;
}
html {
  overflow-x: hidden;
}

:root {
  --primary-bg: #09090b;
  --secondary-bg: #141319;
  --tertiary-bg: #17171c;
}

.sp-text {
  background-image: linear-gradient(to bottom right, #1d4ed8, #f87171);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.icon{
  padding: 15px;
  font-size: 20px;
  border: 1px solid rgb(34, 21, 54);
  border-radius: 10px;
  cursor: pointer;
  background-color: var(--secondary-bg);
}
